/* gris oscuro = #1d252c:
gris claro = #626262;
background gris = #1b2127; 
celeste =  #026fff;
#2C2F33
#99AAB5
*/
html { scroll-behavior:smooth; } /*Animacion de scroll al click link*/
body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

header  {
    background-color:#2C2F33;
    color: white;
    display:flex ;
    justify-content: space-between;
    height: 70px;
}
figure{
    margin: 0;
}
ol,
ul{
    margin: 0;
    padding: 0;
    list-style: none;

}
h1,
h2,
h3,
h4,
h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /*font-style: italic;*/
}

h1{
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -.2px;
    color: white;
    margin:10;

    /* text-transform: uppercase; */
    /* text-decoration: underline; */
}
h1 strong {
    color: #e74c3c;
}
h2 {
    color: #e74c3c;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    margin-bottom: 44.26px;
    
}
.hero{
    height: 300px;
    background-image: url('../Images/hero.png');
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #2C2F33;
    display: flex;
    flex-direction: column;
    
}
.hero h1{
    align-self: flex-start;
}
.purplebar{ /* Con este pe3dazo bajamos nada mas la barra morada :) pero seguimos usando de referencia el felxbox de hero  USANDO MARGIN TOP AUTO*/
   margin-top: auto;
    width: max-content;
    height:10px;
}
.project{
    /* border-top: 10px solid red; */
    border-color: #11806a;
    border-width: 5px;
    border-style: solid;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.project strong{
    font-family: 'Fjalla One', sans-serif;
    font
}
.project__title{
    font-size: 30px;
    margin-bottom: 10px ;
    margin-top: 0;
}
.project__course{
    margin: 10px 0;
}
.project__date,
.project__url{
margin: 10px 0;
}
.project__description{
    font-size: 20px;
}

.project__details{
    width: 400px;
}
.project__image--container{
    width: 400px;
   
}
.portfolio {
    background: #476080;
    padding: 30px;
    
}
.event__list--title{
    margin-left: 20px;
}
.event__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.event{
    margin: 10px;
    width: 400px;
    background: rgb(245, 243, 242);
    
}

.event__image--container{
width: 400px;
}
.event__image{
    
    border-radius: 10px;
}
.event__details{
    margin: 20px;
    margin-top: -40px;
    position:relative;
    padding: 20px 40px;
    background: white;
    text-align: center;
}
.event__description{
    text-align: left;
}
.event__url{
    border: 1px solid violet;
    text-decoration: none;
    padding: 5px 20px;
    color: violet ;
    border-radius: 5px;
}


.menu{ /* Desde aqui empezaremos a inherit hasta el height hasta llegar a nuestro objetivo, a */
    height: inherit;
}

.header ol {
    display: flex;
    height: inherit;

}
.header ol li{
    height: inherit;
}
.header a{
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.footer{
    background-color: #1b2127 ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer img{
    vertical-align: middle;
}
 /*HACK sdad*/