/* gris oscuro = #1d252c:
gris claro = #626262;
background gris = #1b2127; 
celeste =  #026fff;
*/
html { scroll-behavior:smooth; } /*Animacion de scroll al click link*/
body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

header  {
    background-color:#2C2F33;
    color: white;
    display:flex ;
    justify-content: space-between;
    height: 70px;
}
figure{
    margin: 0;
}
ol,
ul{
    margin: 0;
    padding: 0;
    list-style: none;

}
h1,
h2,
h3,
h4,
h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /*font-style: italic;*/
}

h1{
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -.2px;
    color: white;
    margin:10;

    /* text-transform: uppercase; */
    /* text-decoration: underline; */
}
h1 strong {
    color: #e74c3c;
}
.hero{
    height: 300px;
    background-image: url('../Images/hero.png');
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #2C2F33;
    display: flex;
    flex-direction: column;
    
}
.hero h1{
    align-self: flex-start;
}
.purplebar{ /* Con este pe3dazo bajamos nada mas la barra morada :) pero seguimos usando de referencia el felxbox de hero  USANDO MARGIN TOP AUTO*/
   margin-top: auto;
    width: max-content;
    height:10px;
}
.project{
    /* border-top: 10px solid red; */
    border-color: #11806a;
    border-width: 5px;
    border-style: solid;
    border-radius: 8px;
    margin-bottom: 15px;
    margin: 10px;
    padding: 20px;
    background: white;

}
.project__details{
    width: 500px;
}
.project__image--container{
    width: 500px;
}
.portfolio {
    background: #99AAB5;
}

.menu{ /* Desde aqui empezaremos a inherit hasta el height hasta llegar a nuestro objetivo, a */
    height: inherit;
}

.header ol {
    display: flex;
    height: inherit;

}
.header ol li{
    height: inherit;
}
.header a{
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.footer{
    background-color: #1b2127 ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer img{
    vertical-align: middle;
}
 /*HACK sdad*/